.App{
  min-height: 100vh;
  background: #7F7FD5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border:none;
  padding:10px;
}

.search-button{
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 15px;
}
.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap ;
  text-align: center;
}
ul{
  list-style-type: none;
}
.link-button{
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}